body.dark-theme {
  color: #e0e0e0;
  background-color: #121212;
}

body.dark-theme .calculator-container {
  background-color: #1e1e1e;
}

body.dark-theme .calculator-display {
  color: #e0e0e0;
  background-color: #2a2a2a;
}

body.dark-theme button {
  border: none;
  color: #333;
  background-color: #e0e0e0;
}

body.dark-theme .control-button {
  background-color: #e0e0e0;
  
  color: #333;
}
