body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;

  background-color: antiquewhite;
}

.app-container {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sound-button,
.theme-button {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 24px;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  width: 500px;
  padding: 20px;
  border-radius: 10px;

  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0 0 0 / 20%);
}

.calculator-display {
  grid-column: span 4;

  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;

  font-size: 24px;
  text-align: right;

  background-color: #fff;
  box-shadow: inset 0 1px 3px rgba(0 0 0 / 10%);
}

body.dark-theme {
  color: #eee;
  background-color: #121212;
}

body.dark-theme .calculator-container {
  background-color: #1e1e1e;
}

body.dark-theme .calculator-display {
  color: #fff;
  background-color: #2a2a2a;
}

body.dark-theme button {
  border: none;
  color: #fff;
  background-color: #333;
}
